body{
    background-color: rgb(255, 222, 237);
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.header{
    font-family:'Courier New', Courier, monospace;
}

h1{
    color:rgb(9, 57, 0)
}

h3{
    color:rgb(77, 3, 117)
}

.normal{
    font-style: normal;
}

.center{text-align: center;}

.highlight{background-color: rgb(251, 239, 241);}
